html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  color: rgb(23, 59, 102);
}

* {
  box-sizing: border-box;
}
.clickable {
  cursor: pointer;
  transition: 0.5s;
  &:hover, &.hover {
    filter: drop-shadow(0px 0px 16px black);
  }
  // On black background
  &.white:hover {
    filter: drop-shadow(0px 0px 16px white);
  }
  &.white.hover {
    filter: drop-shadow(0px 0px 16px white);
  }
}
.clickableGroup {
  cursor: pointer;
  &:hover .clickable {
    filter: drop-shadow(0px 0px 16px black);
  }
}

.MuiButtonBase-root.MuiAccordionSummary-root {
  background: rgba(23, 59, 102, 0.1);
}